@font-face {
    font-family: aegina ;
    src: url('./fonts/aegina.ttf');
  }


.art_contaienr{
  top: 12%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.card{
  display: flex;
    flex-direction: column;
    width: 30%;
    height: 63%;
    position: relative;
    /* border: 1px solid black; */
    margin: 3rem;
}
.card span{
  font-family: aegina;
    font-size: large;
    text-align: left;
    margin-left: 3rem;
}
.card img{
  width: 100%;
  height: 90%;
  margin: 0;
}


.desc{
  width: 80%;
  height: 40%;
  /* border: 1px solid blue; */
}
