@font-face {
    font-family: aegina ;
    src: url('./fonts/aegina.ttf');
  }


.credit-container {
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    max-width: calc(100% - 2.5%);
    border: 1px solid black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: black;
   
  }
  
  .credit-item {
    /* position: absolute; */
    display: flex;
    height: 100%;
    width: 100%;
   margin-bottom: 2rem;
    width: 40%;
  
  }
  
  .wrapper-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
  }
.credit-items{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    font-family: aegina;
    color: white;
}

.btn{
    position: absolute;
    font-size: 25px;
    left: 10%;
    top: 10%;
    width: 8em;
    height: 2em;
    color: rgb(250, 250, 250);
    border-left: 0.08em solid;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 0.8em;
    cursor: pointer;
    z-index: 9999;
    background-color: black;
    
}


/* .btn::after */
.btn::before
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

.btn::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

.btn::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}




.btn span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    /* border: 0.08em solid black; */
    background-color: rgb(7, 7, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

.btn:hover span {
    transform: translateX(0.15em);
}